<div class="card d-flex p-5 bd-highlight">
  <div class="container">
    <!-- <button printSectionId="print-me" [useExistingCss]="true" ngxPrint > Print to PDF</button> -->
    <div class="content" id="print-me">
    <div class="row">
      <div class="col-md-4">
        <p>KKL/KFV  ..................</p>
        <p>REPUBLIQUE DE COTE D'IVOIRE</p>
        <img [src]="cheminImage"/>
        <p>...........................</p>
        <p style="margin-left:4%;"><b> ETAT CICVIL</b></p>
        <p>CIRCONSCRIPTION D'ETAT CIVIL</p>
        <p><Label>de:&nbsp; <b>ASSUEFRY</b></Label></p>
        <p style="margin-left:3%;">CENTRE</p>
        <p><b>N°240 du 14/11/2008</b> du Registre</p><br>
        <p style="margin-left:3%;">NAISSANCE DE </p>
          <p style="font-size:16px;"><b>KEKRE</b></p>
          <p style="font-size:16px;"><b>Kouamé Gboko Roland</b></p><br>
          <p>(<b>J.S. N° 8650 du 11/11/2008</b> de la section</p>
          <p>du Tribunal de Bondoukou).</p>

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">
       <p class="font-sizeH1">EXTRAIT</p>
       <p class="font-sizer">du Registre des Actes de l'Etat civil</p>
       <p class="font-sizer">&nbsp; pour l'année 2008</p><br><br><br>

            <div class="centerH">
                <p class="font-size">Le <b>Sept Mars mille neuf cent quatre vingt xxx</b></p><br><br>
                <p class="font-size">Est né(e) <b>KEKRE KOUAME GBOKO ROLAND</b></p><br><br>
                <p class="font-size"><b> à KEKRENI, S/P D'ASSUEFRY </b></p><br><br>
                <p class="font-size">Fil(le)s de <b>KOUADIO KEKRE</b></p><br><br>
                <p class="font-size"> et de <b>KOUAKOU Asso Marie Chantal.</b></p><br><br>
            </div>


      </div>

      <hr>

    <div class="container" style="display: flex; justify-content:center">
       <div class="col-md-12">
         <br>
        <p style="display: flex; justify-content:center"><b>MENTIONS (éventuellement)</b></p><br>
        <label for="">Marié(e): ...............................................</label><br>
        <label for="">Avec: ....................................................</label><br>
        <label for="">Mariage dissous par décision de divorce en date du : ............................</label><br>
        <label for="">  Décédé le: .............................................................. </label><br><br><br>
        <p style="display: flex; justify-content:center;margin-left:4%;">Certifié le présent extrait conforme aux indications portées au registre</p>
        <p style="display: flex; justify-content:center">Délivré à &nbsp;<b>ASSUEFRY le 1er MARS 2019</b></p>
       </div>
    </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6" style="display: flex; justify-content:center">
   Timbre
    </div>
    <div class="col-md-6" style="display: flex; justify-content:flex-end">
   <label for=""> L' Officer de l'Etat Civil</label>
   <br><br><br><br><br>
   (Signature)
    </div>
  </div>
</div>
  </div>
  </div>

</div>
