<section class="vh-100" style="background-color: #f0efef">
    <c-container class="container py-5 h-100">
        <c-row class="row d-flex justify-content-center align-items-center h-100">
            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <div class="h2 fw-bold mb-0" style="letter-spacing: 1px; text-align: center">
                            Réinitialiser votre mot de passe!
                        </div>

                        <div class="alert alert-danger" role="alert" *ngIf="message">
                            {{ message }}
                        </div>

                        <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" name="form" novalidate>
                            <div class="d-flex align-items-center mb-3 pb-1"></div>

                            <!-- <div class="form-outline mb-4">
                                <input class="mb-3" type="email" id="form2Example17" class="form-control form-control-lg" placeholder="Entrer votre email" name="email" required [(ngModel)]="form.email" #email="ngModel" />
                            </div> -->
                            <div class="form-floating mb-3">
                                <input class="mb-3" type="email" class="form-control" id="floatingInput" placeholder="Entrer votre email" name="email" [(ngModel)]="form.email" #email="ngModel" />
                                <label for="floatingInput">Entrer votre email</label>
                            </div>

                            <p class="text-danger pl-1" *ngIf="error.email">
                                {{ error.email }}
                            </p>
                            <div class="pt-1 mb-2">
                                <button [disabled]="!f.form.valid" class="btn btn-primary btn-lg btn-block" type="submit">
                  changer le mot de passe
                </button>
                                <!-- <div class="mt-2">
                                    <mat-error *ngIf="wrongCredentials">Informations Incorrectes...
                                    </mat-error>
                                </div> -->
                            </div>
                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</section>