<c-row>
    <c-col md="2" sm="6">
        <c-widget-stat-c class="mb-4" color="info" inverse value="Utilisateurs">
            <ng-template cTemplateId="widgetIconTemplate">
                <!-- <svg cIcon height="36" name="cilPeople"></svg> -->
                <span style="color: rgb(239, 231, 231); font-weight: bold">{{
          userCount
        }}</span>
            </ng-template>
            <!-- <ng-template cTemplateId="widgetProgressTemplate">
                <span style="color: rgb(239, 231, 231); font-weight: bold">40</span>
            </ng-template> -->
        </c-widget-stat-c>
    </c-col>
    <c-col md="2" sm="6">
        <c-widget-stat-c class="mb-4" color="success" inverse value="Projets">
            <ng-template cTemplateId="widgetIconTemplate">
                <!-- <svg cIcon height="36" name="cilUserFollow"></svg> -->
                <span style="color: rgb(239, 231, 231); font-weight: bold">{{
          projetCount
        }}</span>
            </ng-template>
            <!-- <ng-template cTemplateId="widgetProgressTemplate"> </ng-template> -->
        </c-widget-stat-c>
    </c-col>
    <c-col md="2" sm="6">
        <c-widget-stat-c class="mb-4" color="warning" inverse value="Informations">
            <ng-template cTemplateId="widgetIconTemplate">
                <!-- <svg cIcon height="36" name="cilBasket"></svg> -->
                <span style="color: rgb(239, 231, 231); font-weight: bold">{{
          infosCount
        }}</span>
            </ng-template>
            <!-- <ng-template cTemplateId="widgetProgressTemplate">

            </ng-template> -->
        </c-widget-stat-c>
    </c-col>
    <c-col md="2" sm="6">
        <c-widget-stat-c class="mb-4" color="primary" inverse value="Problemes">
            <ng-template cTemplateId="widgetIconTemplate">
                <!-- <svg cIcon height="36" name="cilChartPie"></svg> -->
                <span style="color: rgb(239, 231, 231); font-weight: bold">10</span>
            </ng-template>
            <!-- <ng-template cTemplateId="widgetProgressTemplate"> </ng-template> -->
        </c-widget-stat-c>
    </c-col>
    <c-col md="2" sm="6">
        <c-widget-stat-c class="mb-4" color="danger" inverse value="Sondages">
            <ng-template cTemplateId="widgetIconTemplate">
                <!-- <svg cIcon height="36" name="cilSpeedometer"></svg> -->
                <span style="color: rgb(239, 231, 231); font-weight: bold">30</span>
            </ng-template>
            <!-- <ng-template cTemplateId="widgetProgressTemplate"> </ng-template> -->
        </c-widget-stat-c>
    </c-col>
    <c-col md="2" sm="6">
        <c-widget-stat-c class="mb-4" color="dark" inverse value="Collectes">
            <ng-template cTemplateId="widgetIconTemplate">
                <!-- <svg cIcon height="36" name="cilSpeech"></svg> -->
                <span style="color: rgb(239, 231, 231); font-weight: bold">5</span>
            </ng-template>
            <!-- <ng-template cTemplateId="widgetProgressTemplate"> </ng-template> -->
        </c-widget-stat-c>
    </c-col>
</c-row>