<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acte de Décès</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="left">
              <p align="center">EXT</p>
              <p>REPUBLIQUE DE CÔTE D'IVOIRE</p>
              <p align="center">VILLE D'ABIDJAN</p>
              <p align="center"><b>MAIRIE DU PLATEAU</b></p>
              <p align="center"><img class="img-responsive" src="assets/images/images.png"></p>
              <p align="center"><b>ETAT CIVIL</b></p>
          </div>
          <div class="right">
            <p align="center">Du registre des actes de l'Etat Civil <br>   pour l'année 2022</p>
          </div>
      </div>
      <div class="center">
        <div id="left">
          <p align="center">CENTRE DU PLATEAU</p>
          <p align="center">N°0045 au 03/03/2022 Registre</p>
          <br>
          <p align="center">DECES DE</p>
           <p align="center">---------</p>
          <p align="center">JOHN DOE</p>
          <p align="center">------------------</p>
        </div>
        <div class="centre">
          <p></p>
        </div>
        <div id="right">
          <br><br>
            Le 15 Mars deux mille vingt-deux JOHN DOE.............................................................................................................................<br>
            est decédé à ABIDJAN.............................................................................................................................................<br><br>
            Né à MUNICH(Allemgne) le 01/20/1902.............................................................................................................................<br>
            <b>Profesion</b> LAVEUR DE CHIEN............................................................................................................<br><br>
            Fils.....de....... JOHN DOE né le 01/01/500....................................................................................................................<br><br>
            et de JANNE DOE née le 01/01/900....................................................................................................................................<br><br>
            ..............................................................................................................................................................................<br><br>
            ..............................................................................................................................................................................<br>
        </div>
      </div><br><br><br><br>
      <div class="fin">
          <div id="left" >
            Copyright &copy; Mairie du plateau
          </div>
          <div id="right">
            Délivré à ABIDJAN le 15 Mars 2022................................................................<br><br>
            <p align="center">L'officier de l'Etat <br><b>BRAHIMA OUATTARA</b> <br>Administrateur Civil</p>
            <p align="center">Signature</p>
          </div>
      </div>
      <br><br>
      <div style="color:white">Ceci est un test</div><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <input type="button" (click)="captureScreen()">
</body>
</html>
